### **ScikiLearn**  **MODELACION Y EVALUACION**

In [1]:
import numpy as np
import pandas as pd

#### **IMPLEMENTANDO UN MODELO DE REGRESION SIMPLE**

In [2]:
X = pd.read_csv('./X.csv')

In [3]:
X.columns

Index(['amoblado', 'amount_max_bs', 'amount_max_usd', 'bathroom', 'baulera',
       'bedroom', 'dimension', 'elevator', 'fee', 'fee_bnb_usd', 'fee_bs',
       'fee_regular', 'fee_regular_bs', 'garage', 'id', 'id_type',
       'id_type_offer', 'latitud', 'longitud', 'pool', 'price', 'status',
       'year_built'],
      dtype='object')

In [4]:
X.head(4)

,amoblado,amount_max_bs,amount_max_usd,bathroom,baulera,bedroom,dimension,elevator,fee,fee_bnb_usd,...,garage,id,id_type,id_type_offer,latitud,longitud,pool,price,status,year_built
0,0,40002059.0,5831204.0,4.0,0,5.0,280,0,1881,NaN,...,4,537418,1,1,-16.521725,-68.060249,0,340000,2,2009.0
1,0,40002059.0,5831204.0,5.0,0,3.0,554,0,2545,NaN,...,5,539099,1,1,-16.514791,-68.058067,0,460000,2,2009.0
2,0,40002059.0,5831204.0,6.0,0,5.0,380,0,1815,2269.53,...,4,451025,1,1,-16.566566,-68.100983,0,328000,2,2015.0
3,0,40002059.0,5831204.0,4.0,0,3.0,271,0,1494,NaN,...,2,537017,1,1,-16.539755,-68.057640,0,270000,2,NaN

In [5]:
# print(X['price'] > 100)

In [12]:
# print(X.groupby('price').size())

In [11]:
X.dtypes

# X['year_built'].hist()

amoblado        int64
bathroom      float64
baulera         int64
bedroom       float64
dimension       int64
garage          int64
id              int64
id_type         int64
latitud       float64
longitud      float64
pool            int64
price           int64
status          int64
year_built    float64
dtype: object

In [8]:
# yourdf.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [9]:
X= X.drop(['amount_max_bs', 'amount_max_usd', 'fee', 'fee_bnb_usd', 'fee_bs','fee_regular', 'fee_regular_bs', 'elevator', 'id_type_offer'], axis = 1)

In [10]:
X.head()

,amoblado,bathroom,baulera,bedroom,dimension,garage,id,id_type,latitud,longitud,pool,price,status,year_built
0,0,4.0,0,5.0,280,4,537418,1,-16.521725,-68.060249,0,340000,2,2009.0
1,0,5.0,0,3.0,554,5,539099,1,-16.514791,-68.058067,0,460000,2,2009.0
2,0,6.0,0,5.0,380,4,451025,1,-16.566566,-68.100983,0,328000,2,2015.0
3,0,4.0,0,3.0,271,2,537017,1,-16.539755,-68.057640,0,270000,2,NaN
4,0,6.0,0,4.0,320,4,539274,1,-16.547251,-68.077873,0,420000,1,NaN

In [11]:
from sklearn.impute import SimpleImputer

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy="mean")

In [ ]:
X = imp.fit_transform(X)

In [ ]:
Y = Y.reshape(-1,1)

In [ ]:
Y = imp.fit_transform(Y)

In [ ]:
Y = Y.reshape(-1)

In [60]:
Y = X['price']

In [61]:
Y.head(3)

0    340000
1    460000
2    328000
Name: price, dtype: int64

In [6]:
# ELIMINANDO LA COLUMNA "price" DE X(dataset)
X = X.drop('price', axis = 1)

In [7]:
X.head(4)

,amoblado,amount_max_bs,amount_max_usd,bathroom,baulera,bedroom,dimension,elevator,fee,fee_bnb_usd,...,fee_regular_bs,garage,id,id_type,id_type_offer,latitud,longitud,pool,status,year_built
0,0,40002059.0,5831204.0,4.0,0,5.0,280,0,1881,NaN,...,11801,4,537418,1,1,-16.521725,-68.060249,0,2,2009.0
1,0,40002059.0,5831204.0,5.0,0,3.0,554,0,2545,NaN,...,15966,5,539099,1,1,-16.514791,-68.058067,0,2,2009.0
2,0,40002059.0,5831204.0,6.0,0,5.0,380,0,1815,2269.53,...,11385,4,451025,1,1,-16.566566,-68.100983,0,2,2015.0
3,0,40002059.0,5831204.0,4.0,0,3.0,271,0,1494,NaN,...,9371,2,537017,1,1,-16.539755,-68.057640,0,2,NaN

## **TRAIN_TEST_SPLIT**

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
# 60% en train    |   40% en test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.5 )

In [10]:
# revisando el tamano de los datos 

# el 60%
print("El TOTAL => ",len(X))
print("EL X_train es 60% =>",len(X_train))

# el 40%
print("EL X_test es 64% =>",len(X_test))

El TOTAL =>  823
EL X_train es 60% => 411
EL X_test es 64% => 412

In [ ]:
# Y_train["labels"].value_counts()
# Y_test["labels"].value_counts()

In [12]:
X.var()

amoblado      2.258073e-02
bathroom      3.053914e+00
baulera       1.674191e-02
bedroom       5.633343e+00
dimension     1.144327e+07
garage        2.639078e+00
id            1.416359e+10
id_type       0.000000e+00
latitud       3.263332e-03
longitud      8.483027e-04
pool          6.045770e-03
price         1.215067e+23
status        1.229701e-01
year_built    2.243798e+02
dtype: float64

X_train.head(5)

In [11]:
X_test.head(2)

,amoblado,amount_max_bs,amount_max_usd,bathroom,baulera,bedroom,dimension,elevator,fee,fee_bnb_usd,...,fee_regular_bs,garage,id,id_type,id_type_offer,latitud,longitud,pool,status,year_built
715,0,NaN,NaN,5.0,0,3.0,900,0,0,NaN,...,0,2,538195,1,3,-16.540277,-68.05793,0,1,2018.0
533,0,40002059.0,5831204.0,3.0,0,4.0,250,0,2434,NaN,...,15272,3,119553,1,1,-16.560471,-68.09549,0,2,NaN

## **IMPLEMENTANDO EL MODELO LASSO**

In [12]:
from sklearn.linear_model import Lasso

model = Lasso()

In [13]:
model.fit(X_train, Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [14]:
# predicted = el vector de predicion
predicted = model.predict(X_test)

NotFittedError: This Lasso instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [25]:
## VIENDO EL TAMANO DE Y_test
Y_test.shape

(412,)

In [26]:
# predicted
predicted.shape

NameError: name 'predicted' is not defined

### **IMPORTANDO MATPLOTLIB**

In [27]:
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
plt.hist(predicted);

NameError: name 'predicted' is not defined

In [29]:
plt.hist([predicted, Y_test]);

NameError: name 'predicted' is not defined

In [30]:
model.score(X_test, Y_test)

NotFittedError: This Lasso instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [31]:
model.score(X_train, Y_train)

NotFittedError: This Lasso instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.