## DATA CLEANING

In [1]:
# importando las librerias
import numpy as np
import pandas as pd

In [2]:
dfc = pd.read_csv('./casasN.csv')

In [3]:
dfd = pd.read_csv('./departamentosN.csv')

In [4]:
# dfc.columns
dfd.columns

Index(['address', 'amoblado', 'amount_max_bs', 'amount_max_usd',
       'availability', 'bathroom', 'baulera', 'bedroom', 'code', 'credit_type',
       'date_released', 'dimension_built', 'dimension_ground', 'elevator',
       'fecentrega', 'fee', 'fee_bnb_usd', 'fee_bs', 'fee_regular',
       'fee_regular_bs', 'garage', 'id', 'id_neighborhood', 'id_type',
       'id_type_offer', 'latitud', 'location', 'longitud', 'moneda',
       'neighborhood', 'pool', 'price', 'region', 'status', 'type',
       'type_offer', 'warranty', 'year_built'],
      dtype='object')

In [5]:
dfc.head()

,address,amoblado,amount_max_bs,amount_max_usd,availability,bathroom,baulera,bedroom,code,credit_type,...,moneda,neighborhood,pool,price,region,status,type,type_offer,warranty,year_built
0,Koani,0,40002059.0,5831204.0,ENABLED,4.0,0,4.0,UC-551279,no social con 20% de aporte propio.,...,$us,Koani,0,250000,La Paz,2,Casa,Venta,NaN,NaN
1,Casa hermosa en venta-Condominio Abierto en ba...,0,40002059.0,5831204.0,ENABLED,3.0,0,4.0,UC-549803,no social con 20% de aporte propio.,...,$us,Cota Cota,0,250000,La Paz,2,Casa,Venta,NaN,NaN
2,ARANJUEZ,0,40002059.0,5831204.0,ENABLED,4.0,0,4.0,UC-551243,no social con 20% de aporte propio.,...,$us,Aranjuez,0,530000,La Paz,2,Casa,Venta,NaN,NaN
3,IRPAVI,0,40002059.0,5831204.0,ENABLED,6.0,0,3.0,UC-551407,no social con 20% de aporte propio.,...,$us,Irpavi,0,580000,La Paz,2,Casa,Venta,NaN,NaN
4,ACHUMANI,0,40002059.0,5831204.0,ENABLED,4.0,0,5.0,UC-547411,no social con 20% de aporte propio.,...,$us,Achumani,0,169000,La Paz,1,Casa,Venta,NaN,2019.0

In [342]:
# df.dtypes

In [343]:
dfc.shape

(820, 38)

In [344]:
dfd.shape

(1635, 38)

In [345]:
print(dfc[dfc['availability']=='SOLD'].shape)
print(dfd[dfd['availability']=='SOLD'].shape)

(12, 38)
(39, 38)

# updating real dimension values (HOUSES)

In [346]:
# updating dimensions
# 96901
# 466142
# 4990937
# 514499
# 514500

# no es necesario actualizar las dimensiones xq ya se tiene en dos columas
# dfc.loc[dfc['id']==96901,['dimension']]=670
# dfc.loc[dfc['id']==466142,['dimension']]=670
# dfc.loc[dfc['id']==4990937,['dimension']]=1218
# dfc.loc[dfc['id']==514499,['dimension']]=375
# dfc.loc[dfc['id']==514500,['dimension']]=375

# 506439 14 banios y repetido
# 441532   3banios
# 530963 3 banios

dfc.loc[dfc['id']==506439,['bathroom']]=14
dfc.loc[dfc['id']==441532,['bathroom']]=3

dfc.loc[dfc['id']==530963,['bathroom']]=3


# bedrooms
# 490912 4 dormitorios
# 490906 3 dormitorios
#  73067 4 dormi suite y vestidores
#  465750 4 dormitorios
dfc.loc[dfc['id']==490912,['bedroom']]=4
dfc.loc[dfc['id']==530963,['bedroom']]=4
dfc.loc[dfc['id']==490906,['bedroom']]=3
dfc.loc[dfc['id']==73067,['bedroom']]=4
dfc.loc[dfc['id']==465750,['bedroom']]=4

In [347]:
print(dfc[dfc['moneda']=='Bs'].shape)
print(dfd[dfd['moneda']=='Bs'].shape)

(10, 38)
(42, 38)

# DEPARTAMENTOS

In [348]:
# *************updating*********
# 511579   #bathroom & baulera
# 534527 1 banio, dim 145,3 dorm 
# 507713 3 banios, 3 bathrpoom,3 debroom
# 73900 3 dorm
# 96386 3 dormi
# 504311 3 drmi, garage 1
# dimension 

# 537811 dim 162 
# 486460 dim 241
# 100897 dim 280, 3 dormitorios, garage 1

# ********DELETING***********
# BAthroom

# 545401  
# 539946 repetido

# 515495 por oficinas
# 524126 por recien construido
# 490953 por muchas cosas 
# 195038 no tiene banio
# 542398 no tiene banio
# 545400 no tiene banio
# 545401 duplicado*
# 550645 no tiene banio
# 513051 no tiene banio
# 50671 no tiene bainoll
# 546653 no tien dimension
# 539049 notiene dim
# 537809
# 507226 no tiene dm
# 507225 no tiene dm
# 354396  no tiene dm
# 259605  no tiene dm
# 119611 
# ''''''
# 16943
# 539216 VENDIDO
# 546973 no dimens
# 548832 no dime
# 548831 no dime
# 549740 no dim
# 513049 no dim
# 513047 no dim
# 537093 no dim
# 539051 no dm
# 536081 no dim
# 529451 no dim
# 513509 no dim
# 460196 no dim
# 119594 no dim
# 119654 no dim
# 172326 n d
# 175517 nd
# 175511
# 150212 nd
# 119657
# 169943 dm
# --prices
# 546037   1234567890
# 516305
# 550040
# 243006
# 476602
# 243011
# 516305
# 550040
# 243006
# 476602

# 531058
#---prueba
# 243011 
# 522571
# TEST
# 498090
# 531058
# 536595
#

In [349]:
# UPDATE

dfd.loc[dfd['id']==511579,['baulera']]=1
dfd.loc[dfd['id']==511579,['bathroom']]=1

dfd.loc[dfd['id']==534527,['bedroom']]=3
dfd.loc[dfd['id']==534527,['bathroom']]=1
# dfd.loc[dfd['id']==534527,['dimension']]=145

dfd.loc[dfd['id']==507713,['bathroom']]=3
dfd.loc[dfd['id']==507713,['bedroom']]=3
dfd.loc[dfd['id']==507713,['garage']]=1

dfd.loc[dfd['id']==73900,['bedroom']]=3

dfd.loc[dfd['id']==96386,['bedroom']]=3

dfd.loc[dfd['id']==504311,['bedroom']]=3
dfd.loc[dfd['id']==504311,['garage']]=1

# dfd.loc[dfd['id']==537811,['dimension']]=162

# dfd.loc[dfd['id']==486460,['dimension']]=241

# dfd.loc[dfd['id']==100897,['dimension']]=280
dfd.loc[dfd['id']==100897,['bedroom']]=3
dfd.loc[dfd['id']==100897,['garage']]=1

In [350]:
dfd.shape

(1635, 38)

In [351]:
# DELETE

dfd = dfd.drop(dfd[dfd.id.isin([545401, 539946, 515495, 524126,
                            490953, 195038, 542398, 545400, 
                            550645, 513051, 50671, 546653, 
                            539049, 537809, 507226, 507225, 
                            354396, 259605, 119611, 16943, 
                            539216, 546973, 548832, 548831,
                            549740, 513049, 513047, 537093,
                            539051, 536081, 529451, 513509,
                            460196, 119594, 119654, 172326,
                            175517, 175511, 150212, 119657,
                            546037,  516305, 550040, 243006, 
                            476602, 243011, 531058, 522571, 
                            498090, 536595, 169943, 528874, 
                            531058])].index)
dfd = dfd.drop(dfd[dfd.dimension_built>=600].index)

dfd = dfd.drop(dfd[dfd.price>=600000].index)
dfd = dfd.drop(dfd[dfd.garage>=5].index)

In [352]:
dfd.shape

(1562, 38)

In [353]:
# df[df['moneda']=='Bs'].shape
# APPLY A INTEGERS THEN...
# en fecha 18 de mayo de 2019, 
# con precio de VENTA de dolares = 6.96 [Bs]
# con precio de COMPRA de dolares = 6.86 [Bs]

dfc.loc[dfc.moneda.eq('Bs'), 'price']/=6.96
dfd.loc[dfd.moneda.eq('Bs'), 'price']/=6.96

In [354]:
print(dfc[dfc['moneda']=='Bs'].shape)

print(dfd[dfd['moneda']=='Bs'].shape)

(10, 38)
(41, 38)

# deleting some rows by ID CASAS

In [355]:
# 507745 elevator
# 514499 repetido
# 542036 exajerado 999999
# 542281 sup 1[m2]
# 466142 duplicado/repetido
# 457396 prueba
# 8308 320$ precio muy bajo
# 507792 dimension muy grande 55550000....
# 542038 precio 100000000...

# 496771 14 banios y repetido

# 465750 duplicados
# 465823 duplicados *
# 441532 duplicado

# 520263 por que si jeje
# 420362 por que si jeje *
# 530964  por duplicado
# 546452 po rq siii

# 507728 por oficinas
# 515496 3 banios de una casa q disq no tenia banios  ******


dfc = dfc.drop(dfc[dfc.id.isin([507745, 514499,542036,542281, 
                            466142, 457396, 8308, 507792,
                            542038, 496771, 465750, 465823,
                            520263, 420362, 530964, 546452,
                            507728 , 515496, 441532, 96901, 514500,
                            490937, 551237])].index)
dfc = dfc.drop(dfc[dfc.dimension_built>=1200].index)
dfc = dfc.drop(dfc[dfc.garage>19].index)

In [356]:

# print(dfc[dfc['dimension']==0].shape)

# print(dfd[dfd['dimension']==0].shape)

In [357]:
# DELETING DIMENSION = 0
# df = df.drop(df[df.dimension==0].index)
# df.shape

In [358]:
# DELETING AVAILABILITY = SOLD 
# df= df.drop(df[df.availability == 'SOLD'].index)
# df.shape

# DELETE POOL

In [359]:
# deleting categorial column 
dfc= dfc.drop(['address', 'amount_max_bs', 'amount_max_usd', 'availability','code','credit_type','date_released','elevator','fecentrega','fee', 'fee_bnb_usd', 'fee_bs','fee_regular', 'fee_regular_bs','id','id_type','id_type_offer', 'location', 'moneda', 'pool', 'region', 'type','warranty'], axis = 1)
dfd= dfd.drop(['address', 'amount_max_bs', 'amount_max_usd', 'availability','code','credit_type','date_released', 'fecentrega','fee', 'fee_bnb_usd', 'fee_bs','fee_regular', 'fee_regular_bs','id','id_type','id_type_offer', 'location', 'moneda', 'pool', 'region', 'type','warranty'], axis = 1)

In [360]:
print(dfc.head())
print(dfd.head())

   amoblado  bathroom  baulera  bedroom  dimension_built  dimension_ground  \
0         0       4.0        0      4.0              286               261
1         0       3.0        0      4.0              225               225
2         0       4.0        0      4.0              432               850
3         0       6.0        0      3.0              600               603
4         0       4.0        0      5.0              250               300

   garage  id_neighborhood    latitud   longitud neighborhood     price  \
0       2               38 -16.532234 -68.079918        Koani  250000.0
1       0               35 -16.538757 -68.057556    Cota Cota  250000.0
2       3              151 -16.559860 -68.094620     Aranjuez  530000.0
3       2               37 -16.514441 -68.086395       Irpavi  580000.0
4       3               29 -16.513678 -68.053596     Achumani  169000.0

   status type_offer  year_built
0       2      Venta         NaN
1       2      Venta         NaN
2       2      Venta         NaN
3       2      Venta         NaN
4       1      Venta      2019.0
   amoblado  bathroom  baulera  bedroom  dimension_built  dimension_ground  \
0         0       1.0        0      3.0               85                 0
1         0       2.0        0      2.0               83                 0
2         0       3.0        0      4.0              128                 0
3         0       3.0        0      2.0              149                 0
4         0       2.0        0      1.0               60                 0

   elevator  garage  id_neighborhood    latitud   longitud  neighborhood  \
0         0       1               29 -16.527618 -68.053825      Achumani
1         0       1              180 -16.514166 -68.084206   Alto Irpavi
2         1       1               33 -16.539625 -68.047394  Chasquipampa
3         0       2               32 -16.541565 -68.084267      Calacoto
4         0       1               29 -16.514936 -68.061073      Achumani

      price  status type_offer  year_built
0   89000.0       1      Venta      2017.0
1   83000.0       2      Venta      2002.0
2  105000.0       1      Venta      2016.0
3  228000.0       2      Venta         NaN
4   94500.0       1      Venta      2019.0

In [361]:
# dfc['neighborhood'].unique()

# ADDING RISK

In [362]:
def getRisk(n):
    diccNeighborhoods = {'Achumani' : 'alto', 'Alto Irpavi' : 'bajo', 'Alto Obrajes': 'moderado',  'Aranjuez': 'moderado',  'AuquisamaÃ±a': 'bajo',  'Bella Vista': 'moderado',  'Bolognia': 'bajo', 
                     'Calacoto': 'bajo',  'Centro': 'bajo', 'Chasquipampa': 'bajo',  'Cota Cota': 'moderado',  'El Pedregal': 'alto', 'El Tejar ':'moderado',  'Irpavi':'moderado',  'Koani':'bajo', 
                     'La Florida':'moderado',  'Llojeta':'alto',  'Los Pinos':'moderado',  'Mallasa':'alto',  'Mallasilla':'alto',  'Mecapaca':'alto',  'Miraflores':'muy bajo',  'Obrajes':'bajo',
                     'Ovejuyo':'moderado',  'Pampahasi':'bajo', 'Pura Pura':'moderado', 'San Alberto':'alto',  'San Jorge':'muy bajo',  'San Miguel':'bajo', 'San Pedro':'moderado',  'Seguencoma':'bajo',  
                     'Sopocachi':'moderado', 'Tembladerani':'moderado', 'Urb. Autopista':'bajo', 'Villa Copacabana':'muy bajo', 'Villa Fatima':'bajo', 'Villa San Antonio':'alto' }
    for key, value in diccNeighborhoods.items():
        if key.lower().strip() == n.lower().strip():
            return value
    return 'S/N'

In [363]:
dfc['riesgo'] = dfc.apply (lambda row: getRisk(row['neighborhood']), axis=1)
dfd['riesgo'] = dfd.apply (lambda row: getRisk(row['neighborhood']), axis=1)

In [364]:
print(dfc[dfc['riesgo'] == 'S/N'].shape)
print(dfd[dfd['riesgo'] == 'S/N'].shape)

(33, 16)
(2, 17)

In [365]:
# dfc[dfc['riesgo'] == 'S/N']['neighborhood'].unique()

In [366]:
dfc = dfc.drop(dfc[dfc['riesgo'] == 'S/N'].index) 
dfd = dfd.drop(dfd[dfd['riesgo'] == 'S/N'].index)

In [367]:
print(dfc.shape)
print(dfd.shape)

(761, 16)
(1560, 17)

## Type offer

In [368]:
print(" --- Casas ----")
print("Venta: ",dfc[dfc.type_offer=='Venta'].shape)
print("Alquiler: ",dfc[dfc.type_offer=='Alquiler'].shape)
print("Anticretico: ",dfc[dfc.type_offer=='Anticretico'].shape)

print(" --- Departamentos ----")
print("Venta: ",dfd[dfd.type_offer=='Venta'].shape)
print("Alquiler: ",dfd[dfd.type_offer=='Alquiler'].shape)
print("Anticretico: ",dfd[dfd.type_offer=='Anticretico'].shape)

 --- Casas ----
Venta:  (602, 16)
Alquiler:  (141, 16)
Anticretico:  (18, 16)
 --- Departamentos ----
Venta:  (1006, 17)
Alquiler:  (457, 17)
Anticretico:  (97, 17)

In [369]:
dfc = dfc.drop(dfc[dfc.type_offer=='Alquiler'].index)
dfc = dfc.drop(dfc[dfc.type_offer=='Anticretico'].index)
dfd = dfd.drop(dfd[dfd.type_offer=='Alquiler'].index)
dfd = dfd.drop(dfd[dfd.type_offer=='Anticretico'].index)

In [370]:
print(" --- Casas ----")
print("Venta: ",dfc[dfc.type_offer=='Venta'].shape)
print("Alquiler: ",dfc[dfc.type_offer=='Alquiler'].shape)
print("Anticretico: ",dfc[dfc.type_offer=='Anticretico'].shape)

print(" --- Departamentos ----")
print("Venta: ",dfd[dfd.type_offer=='Venta'].shape)
print("Alquiler: ",dfd[dfd.type_offer=='Alquiler'].shape)
print("Anticretico: ",dfd[dfd.type_offer=='Anticretico'].shape)

 --- Casas ----
Venta:  (602, 16)
Alquiler:  (0, 16)
Anticretico:  (0, 16)
 --- Departamentos ----
Venta:  (1006, 17)
Alquiler:  (0, 17)
Anticretico:  (0, 17)

In [371]:
dfc.head(2)

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,neighborhood,price,status,type_offer,year_built,riesgo
0,0,4.0,0,4.0,286,261,2,38,-16.532234,-68.079918,Koani,250000.0,2,Venta,NaN,bajo
1,0,3.0,0,4.0,225,225,0,35,-16.538757,-68.057556,Cota Cota,250000.0,2,Venta,NaN,moderado

# EXPORT DATASET

In [372]:
dfc.to_csv('./XC.csv', index=False)

In [373]:
dfd.to_csv('./XD.csv', index=False)